*{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background: #0A090C;
    color: #90DDF0;
}
#header{
    width:100%;
    height:100vh;
    background-image: url("./images/bg.png");
    background-size:60% auto;
    background-position:right center;
    background-repeat:no-repeat;
}
.container{
    padding:10px 10%;
}
.shift{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.dot{
    width:7px;
    height:7px;
    background-color: #DFF3E4;
    border-radius: 50px;
    margin-top: 20px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color:#90DDF0;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content:"";
    width: 0;
    height: 3px;
    background:#F0EDEE;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width:100%;

}
.head-text{
    margin-top: 20%;
    font-size: 30px;

}
.head-text h1{
    font-size: 70px;
    margin-top: 20px;

}
.head-text h1 span{
    color: #F0EDEE;
}
#about{
    padding:10px 10%;
    margin-top:100px;
    margin-bottom: 50px;

}
.row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.col-00{
    flex-basis:45%;
    margin-top:10px;
    margin-bottom: 30px;
}
.col-00 h1{
    font-size:100px ;
    font-weight: 500;
}
.col-01{
    flex-basis: 55%;
    margin-top: 20px;
}
.row2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-10{
    flex-basis:30%;
    
}
.col-10 img{
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}
.col-11{
    flex-basis: 60%;
}
.tab{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    color:#F0EDEE ;
    position: relative;

}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#90DDF0;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:100%;
}


#project{
    padding:10px 10%;
    margin-top:100px;
    margin-bottom: 50px;

}
.pr-row-1{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: nowrap;
}
.pr-row-1 h1{
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 30px;
}
.pr-row-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pr-col-1{
    flex-basis: 60%;

}
.pr-col-2{
    flex-basis: 30%;
}
.pr-col-2 img{
    width: 100%;
    height: 650px;
    border-radius: 15px;
    margin-top: 20px;
}